* {
    box-sizing: border-box;
}

.weather-data-container {
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px 15px;
}

p {
    font-size: 1.3rem;
}

img {
    background-color: #777;
    border-radius: 50%;
}

.back-btn {
    display: block;
    margin: 30px auto;
    padding: 8px 14px;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #777;
    color: #fff;
}
